.root {
    -fx-background-color: #e3add4;
}

.label {
    -fx-font-family: sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #ff1493, 5, 0, 0, 0);
}


#tempPlayersCountLabel {
    -fx-alignment: center;
}